.bg-aboutbanner {
  background-image: url(../images/headerAboutUs.png);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* animation: changeBackground 15s infinite; */
}

/* @keyframes changeBackground {
  25% {
    background-image: url(../images/homeBanner.png);

  }

  50% {
    background-image: url(../images/womenBanner.png);
  }

  75% {
    background-image: url(../images/homebanner2.png);
  }

  to {
    background-image: url(../images/homeBanner.png);
  }
} */

.aboutPreHeading {
  color: var(--Secondary, #ecbfd3);
  text-align: center;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 154.5%;
  /* 23.175px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.aboutHeading {
  color: #f7e5c1;
  text-align: center;
  font-family: Playfair Display;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.55px;
  margin: 0px;
  max-width: 649px;
}

.aboutbtn {
  background: #ba7894 !important;
  color: #fff !important;
  text-align: center;
  font-family: Manrope !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 800 !important;
  line-height: 125% !important;
  letter-spacing: 1.68px;
  text-transform: uppercase !important;
  width: 177px;
  height: 65px;
  border-radius: 0px !important;
}

.aboutbtn:hover {
  background: #ba7894;
}

@media (max-width: 1219px) {
  .aboutHeading {
    font-size: 40px;
  }
}

@media (max-width: 519px) {
  .aboutPreHeading {
    font-size: 13px;
  }

  .aboutHeading {
    font-size: 30px;
    margin-top: 0;
  }

  .aboutbtn {
    width: 140px !important;
    height: 50px !important;
  }
}