.bookAppointmentButton {
  border-radius: 16px !important;
  background: #ab8b73 !important;
  color: #fff !important;
  text-align: center;
  font-family: Poppins;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal !important;
  height: 78px;
  width: 100%;
  max-width: 650px;
}

.appointmentEmail {
  color: #dbd3c8;
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 150% */
  text-decoration-line: underline;
}

.AppoinmentsHeading {
  color: #fff;
  text-align: center;
  margin: 0;
  font-family: "Playfair Display";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* 58.5px */
  letter-spacing: -0.45px;
}

.subscribeHeading {
  color: #dbd3c8;
  text-align: center;
  margin-bottom: 0;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 154.5%;
  /* 23.175px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.cardAppintments {
  background-color: #9a4b44;
  border-radius: 10px;
  margin: 0% 5% 3% 5%;
  padding: 5%;
}

@media only screen and (max-width: 520px) {
  .AppoinmentsHeading {
    font-size: 35px;
    margin: 0 10px;
  }

  .appointmentEmail {
    font-size: 17px;
  }

  .bookAppointmentButton {
    height: 60px;
    font-size: 17px !important;
  }
}