.blog-textarea-date {
  color: #422a3c;
  font-family: "Lora", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.blogExpand {
  background: rgb(167, 94, 91);
  border-radius: 0 0 10px 10px;
  margin-top: -12px;
  min-height: 172px;
  padding-left: 20px;
  padding-top: 10px;
}

.blogPageContainer-wrapper {
  margin: 5% 0;
}

.blog-link {
  text-decoration: none;
  /* Remove underline */
  color: inherit;
  /* Inherit the color from the parent */
}

.blog-postWrapper {
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
}

.blog-textarea-heading {
  color: #422a3c;
  font-family: Lora;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 54.348% */
  text-align: left;
  margin-top: 0;
  margin-bottom: 30px;
}

.flex-center {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.blog-textarea-description {
  text-align: left;
  color: #422a3c;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 130% */
}

.blog-textarea-minHeading {
  opacity: 0.7;
  color: #422a3c;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  margin-bottom: -15px;
}

.blog-read-more {
  border-radius: 16px !important;
  background: #9d4a43 !important;
  color: #eee !important;
  text-align: center !important;
  font-family: Poppins !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  width: 275px;
  height: 78px;
}

.lady-div-wrapper {
  margin: 0 5%;
}

.lady {
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 5% auto;
}

.blogs-divider {
  margin: 30px 0px !important;
}

.blog-read-more {
  margin-top: 5% !important;
  margin-bottom: 10% !important;
}

.hide-post-blog {
  max-width: 375px;
  height: 100%;
}

@media (max-width: 1219px) {
  .blog-textarea-date {
    font-size: 18px;
  }

  .blog-textarea-heading {
    font-size: 35px;
  }

  .blog-textarea-description {
    font-size: 15px;
  }
}

@media (max-width: 519px) {
  .blog-textarea-heading {
    font-size: 35px;
  }

  .blog-read-more {
    width: 210px;
    height: 60px;
    font-size: 18px !important;
  }

  .hide-post-blog {
    width: 100%;
  }
}

/* CSS for screens with width less than 420px */
@media (max-width: 419px) {
  .blog-post {
    width: 100%;
  }

  .blog-textarea-heading {
    font-size: 26px;
  }

  .blog-textarea-description {
    font-size: 13px;
  }

  .blog-textarea-minHeading {
    font-size: 16px;
  }
}
