.bg-home-banner {
  background-image: url(../images/clinic8.jpg);
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  /* background: linear-gradient(90deg, #FEF9F4 8.99%, rgba(217, 217, 217, 0.00) 100%); */
  background-size: cover;
  padding: 7% 5%;
  animation: changeBackground 16s infinite;
}

@keyframes changeBackground {
  20% {
    background-image: url(../images/clinic8.jpg);
  }

  40% {
    background-image: url(../images/clinic9.jpg);
  }

  60% {
    background-image: url(../images/clinic11.jpg);
  }

  80% {
    background-image: url(../images/clinic1.jpg);
  }

  to {
    background-image: url(../images/clinic8.jpg);
  }
}
.exploremoreHeaderBtn1:hover{
    background-color: #ab8b73 !important;
    border: none!important;
    color: #fff !important;
    text-align: center;
    font-family: Poppins;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: normal !important;
}
.exploremoreHeaderBtn1{
  border-radius: 16px !important;
  border: 1px solid #422a3c !important;
  color: #422a3c !important;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  background-color: transparent;
  font-weight: 500;
  line-height: normal;
  width: 256px;
  height: 78px;
  cursor: pointer;
}
.exploremoreHeaderBtn {
  border-radius: 16px !important;
  border: 1px solid #422a3c !important;
  color: #422a3c !important;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 256px;
  height: 78px;
  cursor: pointer;
}

.salon-img {
  width: 22px;
  height: 25px;
}

.img-text-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-text-div {
  display: flex;
  justify-content: start;
}

.text-img-heading {
  color: #353535;
  font-family: Manrope;
  font-size: 15px;
  margin-left: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 154.5%;
  /* 23.175px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.header-header-by {
  text-align: left;
}

.heading-header {
  color: #422a3c;
  font-family: "Playfair Display";
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
  text-align: left;
  line-height: 120%; /* 86.4px */
  /* 86.4px */
}

.preHeading1 {
  color: #422a3c;
  font-family: Playfair Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  /* 55.2px */
  letter-spacing: -0.48px;
}

.preHeading2 {
  color: #353535;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 40.8px */
}

.banner-description {
  color: #353535;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  /* 30.6px */
  max-width: 508px;
  text-align: left;
}

.searchBtnHeader {
  border-radius: 56px !important;
  background: #9d4a43 !important;
  color: #f8f8f8 !important;
  font-family: Manrope;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 211px;
  height: 66px;
  margin: 10px !important;
  text-transform: capitalize !important;
}

.searchIcon-svg {
  margin-right: 20px;
}

.header-form-wrapper {
  min-height: 88px;
  max-width: 50vw;
  border-radius: 61.333px;
  background: #fff;
  box-shadow: -1.333px 0px 17.333px 0px rgba(0, 0, 0, 0.1);
}

.form-field {
  margin: 0;
  color: #9d4a43;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left !important;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 25px;
  padding-top: 10px;
}

.form-field-text-area {
  max-width: 280px;
}

.form-field-text-area .MuiFormLabel-root.Mui-focused {
  color: #9d4a43;
}

.form-field-text-area .MuiInput-underline:after {
  border-bottom: 2px solid #9d4a43;
}

.search-div-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}

@media (max-width: 1279px) {
  .search-div-wrapper {
    justify-content: start;
  }

  .header-form-wrapper {
    background-color: transparent;
    box-shadow: none;
  }
}

@media only screen and (max-width: 959px) {
  .Screen-700{
    flex-direction: column;
  }
  .exploremoreHeaderBtn1{
    margin-left: 0px;
    margin-top: 10px;
  }
  .exploremoreHeaderBtn1 {
    border-radius: 16px !important;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 19px;}
  .heading-header {
    font-size: 55px;
  }
  .exploremoreHeaderBtn1{
    width: 230px;
    height: 54px;
}

  .text-img-heading {
    font-size: 12px;
  }

  .banner-description {
    font-size: 15px;
  }

  .searchBtnHeader {
    font-size: 20px !important;
    width: 180px;
    height: 50px;
  }

  .header-header-by {
    margin-top: 0;
  }

  .preHeading1 {
    font-size: 40px !important;
  }

  .preHeading2 {
    font-size: 22px !important;
  }
}

.smallScreenImg {
  display: none;
}

@media only screen and (max-width: 520px) {
  .smallScreenImg {
    display: block;
    width: 100%;
    max-height: 590px;
    object-fit: cover;
  }
  .smallScreenCard {
    border-radius: 40px;
    border: 1px solid #000;
    opacity: 0.7;
    background: #fef9f4;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7%;
  }

  .bg-home-banner {
    background-image: url(../../assets/images/clinic8.jpg);
    animation: none;
    display: flex;
    align-items: center;
    animation: changeBackgroundSmall 16s infinite;
  }
  @keyframes changeBackgroundSmall {
    20% {
      background-image: url(../images/clinic8.jpg);
    }

    40% {
      background-image: url(../images/clinic9.jpg);
    }
  
    60% {
      background-image: url(../images/clinic11.jpg);
    }
  
    80% {
      background-image: url(../images/clinic1.jpg);
    }
  
    to {
      background-image: url(../images/clinic8.jpg);
    }
  }

  .heading-header {
    font-size: 45px;
    text-align: center;
  }

  .text-img-heading {
    font-size: 10px;
  }
  .preHeading1 {
    font-size: 30px !important;
  }
  .preHeading2 {
    font-size: 18px !important;
  }
  .searchBtnHeader {
    font-size: 18px !important;
    width: 160px;
    height: 45px;
  }
  .form-field {
    font-size: 15px;
  }
}

/* .image-container {
  position: relative;
  
  img {
    animation-name: multiple-image-crossfade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    &:nth-of-type(1) {
      animation-delay: 6s;
    }
    &:nth-of-type(2) {
      animation-delay: 4s;
    }
    &:nth-of-type(3) {
      animation-delay: 2s;
    }
    &:nth-of-type(4) {
      animation-delay: 0;
    }
  }
}

@keyframes multiple-image-crossfade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
} */
