.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000000;
  padding: 1rem 5% 5px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-icon {
  cursor: pointer;
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 4px 0;
  transition: 0.4s;
}

.nav-links {
  list-style: none;
  display: flex;
  z-index: 1;
  padding-left: 0;
}

.nav-links li {
  margin: 0 1rem;
}

ul a {
  color: #000;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 19.2px */
  letter-spacing: 0.88px;
  text-decoration: none;
}

.img-margin {
  margin-bottom: -3px;
  margin-right: 5px;
}

.langauge-select .MuiFormControl-root {
  min-width: 77px;
  margin-top: -8px;
}

/* .langauge-select .MuiInput-underline {
  display: none;
} */
.login-btn {
  border-radius: 5px !important;
  border: 1.5px solid #A75E5B !important;
  color: #A75E5B !important;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Manrope !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 24px !important;
  width: 92px;
  margin-top: -8px !important;
  text-transform: capitalize !important;
}

.signup-btn {
  border-radius: 5px !important;
  background: #A75E5B !important;
  color: var(--White, #fff) !important;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Manrope !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 24px !important;
  width: 100px;
  margin-top: -8px !important;
  text-transform: capitalize !important;

}

.chatbot-icons {
  /* style={{ position: "fixed", bottom: "5px", right: "5px", zIndex: "5" }} */
  position: fixed;
  bottom: 3%;
  right: 1.5%;
  z-index: 23;
}

.chatscreen {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* min-width: 280px;
  min-height: 380px; */
  min-width: 385px;
  min-height: 50vh;
  margin-bottom: 86px;
  position: relative;
}

.search-field-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.search-field-wrapper .MuiInputBase-root {
  border-radius: 40px;
  background: #ededed !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 222;
  height: 50px;
}

.search-field-for-chatbot .MuiFilledInput-root:hover {
  background-color: #ededed !important;
}

.chat-head-icons-img {
  width: 45px;
}

.chat-head-container {
  height: 100%;
}

.chat-head-div {
  height: 86px;
}

.chat-head-icon-wrapper {
  /* display: block; */
  width: 69px;
  height: 69px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 4px;
}

.proper-chat-screen {
  max-height: 308px;
  overflow-x: auto;
}

.proper-chat-screen::-webkit-scrollbar {
  width: 5px;
}

.web-logo {
  width: 150px;
}

.proper-chat-screen::-webkit-scrollbar-thumb {
  background-color: #A75E5B;
  border-radius: 6px;
}

.proper-chat-screen::-webkit-scrollbar-track {
  display: none;
}

.search-field-for-chatbot {
  margin: 15px 15px !important;
}

.search-field-for-chatbot .MuiFilledInput-underline:after {
  display: none;
}

.search-field-for-chatbot .MuiFilledInput-underline:before {
  display: none;
}

.search-field-for-chatbot .MuiFilledInput-input {
  margin-top: 0px;
  padding-top: 10px;
}

.camera-input-label svg {
  background: white;
  padding: 7px;
  border-radius: 100%;
  margin: 5px 0px;
}

/* Add these styles to your CSS file */
.chatscreen {
  display: none;
}

.send-icon .camera-icon {
  cursor: pointer;
}

.chatscreen-date {
  opacity: 0.5;
  color: #353535;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 154.5%;
  margin-top: 10px !important;
}

.chatscreen.visible {
  display: block;
}

.chatbot-profile {
  margin: 5px !important;
  box-shadow: none !important;
}

.fab-icons-chatbot {
  position: absolute !important;
  right: 10px !important;
  bottom: 10px !important;
}

.bot-chat {
  border-radius: 30px;
  background: #ededed;
  color: #353535;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 154.5%;
  text-transform: uppercase;
  padding: 10px;
}

.my-chat {
  border-radius: 30px;
  margin: 5px;
  background: #A75E5B;
  color: #fff;
  text-align: right;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 154.5%;
  /* text-transform: uppercase; */
  padding: 10px;
}

.chat-reply {
  display: flex;
  justify-content: start;
  align-items: center;
}

.my-reply {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.fabIcon-Img {
  width: 70px;
}

.chat-head-div {
  background-color: #A75E5B;
  border-radius: 17px 17px 0 0;
}

.chat-head-txt1 {
  color: #FFF;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 154.5%;
  margin: 0;
  text-align: left;
  opacity: 0.7;
  /* 21.63px */
}

.chat-head-txt2 {
  color: #FFF;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 154.5%;
  margin: 0;
  text-align: left;

  /* 30.9px */
}



.languageSelecter .MuiInput-underline:before {
  display: none;
}

.languageSelecter .MuiSelect-select.MuiSelect-select {
  font-family: Manrope;
  color: #141414;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 30px;
}

/* .languageSelecter .MuiSelect-select.MuiSelect-select:active{
  background-color: red;
} */

.langauge-select svg {
  display: none;
}

.down-arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 6px;
}

.languageSelect li {
  font-family: Manrope;
  color: #141414;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.languageSelecter .MuiInput-underline:after {
  display: none;
}

/* Media query for mobile responsiveness */
@media only screen and (max-width: 1279px) {
  .nav-links a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1209px) {
  .menu-icon {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
  }

  .nav-links.open {
    display: flex;
    margin-top: 50px;
  }

  .nav-links li {
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 959px) {
  .navbar-top-dail {
    margin-bottom: 0;
  }

  .navbar-top-email {
    margin-top: 8px;
  }
}

@media only screen and (max-width: 520px) {
  .navbar-top-dail {
    font-size: 14px;
  }

  .navbar-top-email {
    font-size: 14px;
  }

  .web-logo {
    width: 110px;
  }

  .hamburger-react div {
    width: 24px !important;
  }
}

/* DraggableElement.css */

.draggable {
  position: fixed;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10000;
  cursor: pointer;
  border-radius: 30%;
  padding: 6px;
  display: flex;
  flex-direction: column;
}

.draggable .menu-options {
  margin-top: 10px;
}

.draggable svg {
  margin: auto;
  margin-top: 5px;
}

.dragger-fb {
  margin: 10px 0 !important;
  width: 45px;
}

.dragger-x {
  margin: 10px 0 !important;
  width: 45px;

}

.dragger-insta {
  margin: 10px 0 !important;
  width: 45px;

}