.servicesHeader-bg {
  background-image:linear-gradient(
    rgba(88, 56, 41, 0.767), 
    rgba(44, 34, 43, 0.7)
  ),  url(../images/clinic4.jpg);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* animation: changeBackgroundServices 15s infinite; */
}

/* @keyframes changeBackgroundServices {
  25% {
    background-image: url(../images/womenBanner.png);

  }

  50% {
    background-image: url(../images/homeBanner.png);
  }

  75% {
    background-image: url(../images/homebanner2.png);
  }

  to {
    background-image: url(../images/womenBanner.png);
  }

} */

.servicespage-minheading {
  color: #ecbfd3;
  text-align: center;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 154.5%;
  /* 23.175px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.servicespage-heading {
  color: #f7e5c1;
  text-align: center;
  font-family: Playfair Display;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 66px */
  letter-spacing: -0.55px;
  margin: 0px;
}

@media (max-width: 1219px) {
  .servicespage-heading {
    font-size: 40px;
  }
}

@media (max-width: 519px) {
  .servicespage-minheading {
    font-size: 13px;
  }
  .servicesHeader-bg {
    background-image: url(../images/servicesSmallScreenbg.png);
    background-size: cover;

  }

  .servicespage-heading {
    font-size: 30px;
    margin-top: 0;
  }
}

@media (max-width: 519px) {
  .servicesHeader-bg {
    background-position: center right;
  }
}
