.blog-img-holder {
  width: 100% !important;
  height: 100% !important;
  max-height: 606px;
  object-fit: cover;
}

.services-img-holderHolder {
  height: 100%;
}

.main-blog-content {
  /* overflow-x: hidden; */
}

.blog-main-heading {
  color: #422a3c;
  font-family: Poppins;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.68px;
  text-align: left;
  margin-bottom: 0;
}

.blog-description-heading {
  color: #422a3c;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  line-height: 150.18%;
  /* 30.036px */
  max-width: 668px;
}

.blog-contact-btn {
  border-radius: 16px !important;
  border: 1px solid #422a3c !important;
  color: #422a3c !important;
  text-align: left !important;
  font-family: Poppins !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  width: 260px;
  height: 78px;
  margin-top: 5% !important;
}

.contactus-btn-div {
  display: flex;
  justify-content: start;
}

.blog-main-div {
  padding: 10% 14%;
}

.main-main-blogs {
  justify-content: center;
}

@media (max-width: 1279px) {
  .blog-main-heading {
    text-align: center;
  }

  .blog-description-heading {
    text-align: center;
  }

  .contactus-btn-div {
    justify-content: center;
  }
}

.exploreMoreBtn {
  border-radius: 16px !important;
  background: #9d4a43 !important;
  color: #eee !important;
  text-align: center;
  font-family: Poppins !important;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 256px;
  height: 78px;
  margin: 4% 0 !important;
}

@media (max-width: 1219px) {
  .blog-main-heading {
    font-size: 45px;
  }

  .blog-description-heading {
    font-size: 17px;
  }
}

@media (max-width: 519px) {
  .blog-main-heading {
    font-size: 35px;
  }

  .blog-description-heading {
    font-size: 15px;
  }

  .blog-contact-btn {
    width: 200px;
    height: 60px;
    font-size: 17px !important;
  }
}

@media (min-width: 1280px) {
  .ForSmall {
    display: none !important;
  }
  .ForLarge {
    display: flex !important;
  }
}
@media (max-width: 1280px) {
  .ForLarge {
    display: none !important;
  }
  .ForSmall {
    display: flex !important;
  }
}
