.main-main {
  font-family: Playfair Display;
  font-weight: 800;
  line-height: 47.81px;
  text-align: left;
  font-size: 35px;
  color: #fff;
}

.whoWeAre-container {
  padding: 5% 0%;
  /* background-color: rgba(224, 183, 117, 0.50); */
  background-color: #ab8b73;
}
.www-description {
  color: #fff;
  font-family: Manrope;
  font-weight: 400;
  line-height: 24.59px;
  text-align: left;
  font-size: 18px;
}

.more-about-us-btn {
  border-radius: 4px;
  border: 1px solid #fff !important;
  color: #fff !important;
  text-align: center;
  font-family: Manrope !important;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
  text-transform: capitalize !important;
  margin-top: 5% !important;
}

.whoweare-wrapper {
  max-width: 604px;
  text-align: left;
  padding: 3% 5%;
}

.whoWeAreImg-main {
  /* width: 100%; */
  max-width: 540px;
}

.whoweare-the-wrapper-img {
  display: flex;
  justify-content: end;
  padding: 0% 5%;
}

@media (max-width: 1330px) {
  .whoWeAreImg-main {
    width: 100%;
    /* max-width: 540px; */
  }
}

@media (max-width: 959px) {
  .whoweare-the-wrapper-img {
    justify-content: center;
  }
}

@media only screen and (max-width: 520px) {
  .www-description {
    font-size: 15px;
  }
}

body {
  overflow-x: hidden;
}
