.subServiceContainer-wrapper {
  background: #e8d1bb;
}

.subService-heading {
  color: #422a3c;
  font-family: Playfair Display;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.35px;
  text-align: left;
  margin-top: 0;
}

.subService-Description {
  color: #422a3c;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.18%;
  /* 27.032px */
  max-width: 554px;
  text-align: left;
}

.subService-contactUsBtn {
  border-radius: 16px !important;
  border: 1px solid #422a3c !important;
  color: #422a3c !important;
  text-align: center;
  font-family: Poppins !important;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal !important;
  width: 240px;
  height: 78px;
  text-decoration: none;
  cursor: pointer;
}
.bookNow {
  border-radius: 16px !important;
  border: 1px solid #422a3c !important;
  color: #422a3c !important;
  text-align: center;
  font-family: Poppins !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal !important;
  width: 155px;
  height: 53px;
  text-decoration: none;
  cursor: pointer;
}

.none-decor {
  text-decoration: none;
}

.subServices-content-holder {
  padding: 0 8% 20px;
}

.subServices-container {
  padding: 7% 0;
}

.subServices-price {
  margin: 0;
}

.subservice-contactUsBtn-holder {
  margin-top: 5%;
  display: flex;
  justify-content: start;
}

.subServices-container .MuiGrid-root img {
  width: 100%;
}
@media (max-width: 519px) {
  .subService-contactUsBtn {
    width: 200px;
    height: 60px;
    font-size: 17px !important;
  }
}

.flexBoxCode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-0 {
  margin: 0;
}
